
div.og2mlm-message {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.95em;
  overflow: auto;
  height: auto;
}

div.og2mlm-message div.og2mlm-message {
  margin: 10px 0px;
  padding: 15px;
  border: 1px #f0f0f0 solid;
}
